[Container]
Image={{ bind_full_image }}
User=root
Volume={{ bind_config_dir_prefix }}/config:/etc/bind:Z
Volume={{ bind_config_dir_prefix }}/records:/var/lib/bind:Z
Volume={{ bind_config_dir_prefix }}/cache:/var/cache/bind:Z
Environment=TZ=Europe/Moscow
PublishPort=53:53/tcp
PublishPort=53:53/udp

[Service]
Exec=named -g
Restart=always

[Install]
WantedBy=multi-user.target