options {
        directory "/var/cache/bind";
        listen-on { any; };
        listen-on-v6 { ::1; };
};

zone "{{ bind_home_zone }}." {
    type primary;
    file "/var/lib/bind/db.{{ bind_home_zone }}";
};